header {
  display: none;
}

h3 {
  color: #ffff00;
}

figure {
  border: none;
  padding: 4px;
  margin: auto;
}

figcaption {
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

/*
.equationDiv .mjx-chtml {
    font-size: clamp(12px, 3.5vw, 10px);
    display: block;                 / * make MathJax fill the div * /
    max-width: 100%;
    margin: 0 auto;
}
*/

.header_line {
  border-top: 2px solid
}

.double_image {
  display: flex;
  align-items: flex-end;
}

.left_image {
  float: left;
  width: 50%;
  text-align: center
}

.right_image {
  float: right;
  width: 50%;
  text-align: center
}

.subsection_header_line {
  border-top: 1px solid #999999;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 48%;
  padding: 10px;
  margin: 1%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

select {
  border: 2px solid rgba(255, 255, 0, 0.2);
  color: white;
  padding: 3px 3px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0px;
  line-height: 1;
}

button {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 0, 0.2);
  color: white;
  padding: 5px 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 2px;
  line-height: 1;
}

button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.helionInfoPanel {
  color: #d0d0d0;
  position: absolute;
  left: 5px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 14px;
  border-radius: 15px;
  line-height: 1.5;
  user-select: none;
  max-width: min(250px, calc(100vw - 20px));
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.helionInfoPanel strong {
  color: #ffd54a;
}
